body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
}

.picture {
    font-family: "Libre Baskerville", serif;
    text-align: center;
    color: whitesmoke;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}

.joe-img {
    border: 5px solid rgb(17, 62, 146);
    width: 80%;
}

